NODE_ENV=development
LOGGING_LOG_LEVEL=debug

MONGODB_USER=
MONGODB_PW=
MONGODB_SERVERS=localhost:27017
MONGODB_DATABASE=centriqe
MONGODB_OPTIONS=

PROCESS_STARTUP_DELAY_ENABLED=false
PROCESS_STARTUP_DELAY_MAX_SECONDS=30
PROCESS_CRON_SCHEDULE='* * * * * *'

PROCESS_EVENT_TYPE_TRANSACTIONAL=true
PROCESS_EVENT_TYPE_TEMPLATE_INTERACTIVE=true
PROCESS_EVENT_TYPE_TEMPLATE_SCHEDULED=true

EMAIL_ENABLED=false
EMAIL_DEFAULT_SENDER=Centriqe Local Dev <info@dev.centriqe.com>
EMAIL_MAILGUN_API_KEY=12345
EMAIL_MAILGUN_TEST_MODE=true

TWILIO_ACCOUNT_SID=12345
TWILIO_AUTH_TOKEN=12345
TWILIO_ACCOUNT_TEST_MODE=false

WHATSAPP_ENABLED=false
WHATSAPP_DEFAULT_SENDER=+123456

SMS_ENABLED=false
SMS_DEFAULT_SENDER=+123456
